.page {
  --background: #f3f0ec;
  --foreground: #fff;

  --text-primary: #333a42;
  --text-secondary: #000;

  --primary-color: #c6a664;
  --secondary-color: #0a3f62;

  background-color: var(--background);
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-flow: row-reverse;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  background: var(--background);
}

.nav-links {
  display: flex;
  flex-flow: row-reverse;
  gap: 1.5rem;
  list-style: none;
  color: var(--text-primary);
  font-weight: 800;
}

.nav-links a {
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
  align-items: flex-end;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }

  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
} */
